/* specficering av rader/kolumner */

.container {
  display: grid;
  grid-template-rows: 50px 50px auto auto 50px;
  grid-template-columns: repeat(13, 1fr);
}

/* grid för artikeln i fg.html */

.EVHh1 {
  grid-column: 4/11;
  grid-row: 2/3;
}

.EVH {
  grid-column: 4/11;
  grid-row: 3/auto;
}

.EVHarticle {
  grid-column: 4/11;
  grid-row: 4/auto;
}

/* bakgrund för lättläslighet */

.background {
  grid-column: 3/12;
  grid-row: 2/5;
}
