body {
  background-color: black;
  background-image: url("https://getwallpapers.com/wallpaper/full/a/e/8/444177.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0097a7ff;
}

li {
  float: left;
  border-right: 1px solid #006f7bff;
}

li:last-child {
  border: none;
}

li a {
  display: block;
  font-family: helvetica;
  color: white;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #006f7bff;
}

@media screen and (max-width: 400px) {
 {

}
}

/*slideshow*/

.mySlides {
  animation: fading 7s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0};
  display: none;
}

.slideshow {
  margin: 0px auto;
  margin-top: 50px;
  border: solid #0097a7ff 5px;
  position: relative;
  background-color: black;
}

.logo {
  z-index: 1;
  position: absolute;
  margin: 0px auto;
  left: 0;
  right: 0;
  top: 33%;
}

.container>div {
  background-color: rgba(255, 255, 255, 0.4);
  font-family: helvetica;
}

h2 {
  text-align: center;
}
